/* selector {
    propiedad : valor;
} */

/* Selector "*" aplica a toda la pagina */
*{
    background-color: rgb(216, 155, 41);
}

img {
    width: 400px;
}

a {
    color: black;
    text-decoration: underline;
}

h1 {
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;  
}

p {
    font-family: sans-serif;
}