.options{
    /* border: blue 2px solid; */
    margin-bottom: 10px;
    display: inline-block;
}

.navBar{
    margin-left: 1150px;
    /* border: red 2px solid; */
}

#google{
    width: 800px;
}

.google{
    display: inline-block;
    margin: 50px 230px;
}

.buttons{
    /* border: red 2px solid; */
    display: inline-block;
    margin-left: 500px;
}

.input{
    /* border: blue 2px solid; */
    display: inline-block;
    margin-left: 425px;
    margin-bottom: 15px;
}

input{
    width: 400px;
}

